<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" contents="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Create a Restaurants</title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('showRestaurants')}}">Restaurants</a>
	</div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
	      <a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">{{restaurant.name}} Menu</a>
	    </li>
	  </ul>
	</div>
      </div>
    </nav>
    <div class="container top-buffer">
      <h1>Create new menu item</h1>
      <form action="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}" method="POST">
	<p>Name:</p>
	<input type="text" size="30" name="name">
	<p>Description:</p>
	<textarea type="text" cols="50" rows="5" name="description"></textarea>
	<p>Price:</p>
	<input type="text" size="10" name="price">
	<input type="submit" value="Save">
	<a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">Cancel</a>
      </form>
    </div>
  </body>
</html>
